__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.pth
*.pt
venv/
env/
.venv/
.ipynb_checkpoints/
*.xlsx
*.zip
prepared_data/
build/
dist/
*.egg-info/
*.egg
Thumbs.db
Desktop.ini
.DS_Store
*~
.vscode/
.idea/
docker-build/
.cache/
processed/